*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.navigation {
  height:25px;
  width: 98%;
  padding:15px;
  /*background-color: black;*/
  font-weight: bold;
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
}

body {
  background-image: url(../img/chile.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.nav {
  float: right;
  padding-right: 15px;

}

.nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #fff2e5;
  font-family: 'Roboto Mono', ;
}

.center-icon {
  display: block;
  text-align: center;
  clear: both;
  margin: auto 0 auto 0;
}

.center-icon img{
  max-width: 160px;
  padding-top: 21%;
}

.page-title {
  text-align: center;
  font-size: 150px;
  color: #333333;
  font-family: 'Roboto Mono';
  margin-top: 185px;
}
